* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root{
  --primary-color: #10cab7;
  --offcanvas-bg-color: rgb(41 65 76);
  --font-family: 'Work Sans', sans-serif;
}
body {
  background-color: #f0f0f0;
  font-family: var(--font-family);
}
/* Nav Section Start */
.navbar-container{
  width: 45.90rem;
}
.offcanvas-main{
  background-color: var(--offcanvas-bg-color);
}
.offcanvas-main li a{
  color: #fff;
  font-size: 18px
}
.offcanvas-main li a:hover{
  color: var(--primary-color);
}
.offcanvas-main .active-li{
  color: var(--primary-color);
  font-size: 18px
}
.offcanvas-main .title{
  font-size: 15px;
}
.offcanvas-main ul:first-child{
  margin-bottom: 20px;
}
.offcanvas-main ul:last-child{
  margin-top: 20px;
}
/* Nav Section End */
