* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root{
  --primary-color: #10cab7;
  --offcanvas-bg-color: rgb(41 65 76);
  --font-family: 'Work Sans', sans-serif;
}
body {
  background-color: #f0f0f0;
  font-family: var(--font-family);
}
/* Nav Section Start */
.navbar-container{
  width: 45.90rem;
}
.logo img{
  width: 40px;
}
.menu img{
  width: 25px;
}
.offcanvas-main{
  background-color: var(--offcanvas-bg-color);
}
.offcanvas-main li a{
  color: #fff;
  font-size: 18px
}
.offcanvas-main li a:hover{
  color: var(--primary-color);
}
.offcanvas-main .active-li{
  color: var(--primary-color);
  font-size: 18px
}
.offcanvas-main .title{
  font-size: 15px;
}
.offcanvas-main ul:first-child{
  margin-bottom: 20px;
}
.offcanvas-main ul:last-child{
  margin-top: 20px;
}
/* Nav Section End */
/* Hero Section Start */
.hero{
  height: 70vh;
  background-color: lightgray;
  background-image: url(../image/UpdateHro.png);
  background-size: cover;
  background-position: center;
}
.hero h1{
  font-size: 3rem;
  color: var(--primary-color);
  padding-top: 6.5rem;
}
/* Hero Section End */
/* Work Section Start */
.work .work-row div{
  padding: 45px;
}
.work .work-row div img{
  width: 45px;
  margin-bottom: 20px;
}
.work .work-row div h2{
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 20px;
}
.work .work-row div p{
  font-size: 15px;
}
/* Work Section Start */
/* Service Section Start */
.service .service-header{
  margin-bottom: 60px;
}
.service-sub-inner-row img{
  width: 35px;
}
.service-sub-inner-row h3{
  font-size: 25px;
  font-weight: 600;
}
.service-sub-inner-row p{
  font-size: 15px;
  margin-top: 15px;
}
.service .service-main-row .column-two{
  position: relative;
  min-height: 430px;
}
.service .column-two .first-img{
  height: 330px;
  margin-top: 50px;
  z-index:99999999;
}
.service .column-two .second-img{
  width: 80%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100px;
  z-index: -1;
}
/* Service Section End*/
/* Portfolio Section Start */
.portfolio .portfolio-header{
  margin-bottom: 60px;
}
.portfolio-img img{
  width: 100%;
}
.portfolio-content{
  padding: 20px;
}
.portfolio-content h3{
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}
/* Portfolio Section End */
/* About Section Start */
.about .about-header{
  margin-bottom: 90px;
}
.about-img {
  position: relative;
}
.about-img-first{
  height: 320px;
  margin: 60px 0px 0 30px;
}
.about-img-second{
  position: absolute;
  top: 0;
  left: 0;
  height: 420px;
  z-index: -1;
}
.about-img-third{
  position: absolute;
  top: 30px;
  right: 30px;
  height: 290px;
  z-index: -1;
}
.about-content{
  margin-top: 75px;
}
.about-content h3{
  font-size: 28px;
  margin-bottom: 20px;
  line-height: 1.8;
}
.about-content .horizontal-line{
  width: 400px;
  height: 4px;
  margin:  50px 0px 20px;
  background-color: var(--primary-color);
}
.about-content p{
  font-size: 16px;
  line-height: 1.8;
}

/* About Section End */
/* Contact Section Start */
.contact{
  background-color: rgb(249 249 249);
  min-height: 400px;
}
.contact h2{
  margin-top: 150px;
}
.contact h3{
  color: var(--offcanvas-bg-color);
}
.contact h4{
  margin-left: 20px;
  color: var(--primary-color);
}
.contact .social-icon span{
  font-size: 15px;
  margin: 0 15px 0 40px;
  color: var(--offcanvas-bg-color);
}
.contact .social-icon img{
  height: 19px;
  margin-left: 15px;
}
/* Contact Section End */
/* Media Query */
@media (max-width: 1200px) {
  .service .column-two .first-img{
    width: 270px;
    height: auto;
  }
  .service .column-two .second-img{
    height: 90%;
  }
}
@media (max-width: 992px){
  .hero h1{
  font-size: 2.8rem;
  }
  .service .column-two .first-img{
    width: 320px;
    height: auto;
  }
  .service .column-two .second-img{
    height: 100%;
  }
}
@media (max-width: 768px){
  .hero h1{
  font-size: 2.5rem;
  }
  .hero p{
    font-size: 15px;
  }
  .about-img-third{
    right: 0px;
  }
}
@media (max-width: 576px){
  .hero h1{
  font-size: 2.2rem;
  }
  .hero p{
    font-size: 14px;
  }
  .about-img-third{
    right: 90px;
  }
}