* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root{
  --primary-color: #10cab7;
  --offcanvas-bg-color: rgb(41 65 76);
  --font-family: 'Work Sans', sans-serif;
}
body {
  background-color: #f0f0f0;
  font-family: var(--font-family);
}
/* Nav Section Start */
.navbar-container{
  width: 45.90rem;
}
.logo img{
  width: 40px;
}
.menu img{
  width: 25px;
}
.offcanvas-main{
  background-color: var(--offcanvas-bg-color);
}
.offcanvas-main li a{
  color: #fff;
  font-size: 18px
}
.offcanvas-main li a:hover{
  color: var(--primary-color);
}
.offcanvas-main .active-li{
  color: var(--primary-color);
  font-size: 18px
}
.offcanvas-main .title{
  font-size: 15px;
}
.offcanvas-main ul:first-child{
  margin-bottom: 20px;
}
.offcanvas-main ul:last-child{
  margin-top: 20px;
}
/* Nav Section End */
/* Hero Section Start */
.hero{
  height: 70vh;
  background-color: lightgray;
  background-image: url(../image/UpdateHro.png);
  background-size: cover;
  background-position: center;
}
.hero h1{
  font-size: 3rem;
  color: var(--primary-color);
  padding-top: 6.5rem;
}
/* Hero Section End */
/* Work Section Start */
.work .work-row div{
  padding: 45px;
}
.work .work-row div img{
  width: 45px;
  margin-bottom: 20px;
}
.work .work-row div h2{
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 20px;
}
.work .work-row div p{
  font-size: 15px;
}
/* Work Section Start */
/* Media Query */
@media (max-width: 992px){
  .hero h1{
  font-size: 2.8rem;
  }
}
@media (max-width: 720px){
  .hero h1{
  font-size: 2.5rem;
  }
  .hero p{
    font-size: 15px;
  }
}
@media (max-width: 576px){
  .hero h1{
  font-size: 2.2rem;
  }
  .hero p{
    font-size: 14px;
  }
}