* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root{
  --primary-color: #10cab7;
  --font-family: 'Work Sans', sans-serif;
}
body {
  background-color: #f0f0f0;
  font-family: var(--font-family);
}

